{% extends "layout.html" %} 



{% block bodyx %} 



<main class="page-main" style="background-image: url(/static/images/bgcode2.png); background-size:100%;">



  <div data-uk-filter="target: .js-filter" style="margin-top: -50px; margin-bottom: ">




      <ul id="activities" class="js-filter uk-grid-small uk-child-width-1-1 uk-child-width-5-5@xl uk-child-width-2-4@l uk-child-width-3-3@m uk-child-width-1-2@s uk-grid uk-grid-stack" >

              <li data-type="placer" class="uk-grid-margin uk-first-column xx " >
    
                <div class="uk-child-width-5-5@l uk-width-5-5@l ">
                    
                    <div class="js-trending">
                 
                            <div class="swiper-wrapper">
            
            
            
                                <div class="swiper-slide">
                                  <div class="game-card --horizontal">
                                      <div class="game-card__box" style="background-color: rgb(247, 250, 255); box-shadow: 0 10px 10px  rgba(59, 1, 174, 0.1); margin-top: 0px;margin-bottom: -20px;" >
                                        
        
          
                                              
                                              
                        
                                                  <div class="game-card__price" style="margin-bottom: 0px;margin-top: 0px;"><span>Kodu Satın Aldınız, Ne Yapacaksınız?</span> <hr>
                                                    <span class="game-card__genre"> 
                                                    (tanıtım görsellerine tıklayarak daha yakından inceleyebilirsiniz)
                                                    </span></div>
                        
                                           
                                                  
                                
                                                            
                                    
  
  
                                  
                              </div>
            
                            </div>
                  
                        </div>
                    </div>
                </div>
    
              </li>




              <li data-type="placer" class="uk-grid-margin uk-first-column xx " >
    
                <div class="uk-child-width-5-5@l uk-width-5-5@l ">
                    
                    <div class="js-trending">
                 
                            <div class="swiper-wrapper">
            
            
            
                                <div class="swiper-slide">
                                  <div class="game-card --horizontal">
                                      <div class="game-card__box" style="background-color: rgb(247, 250, 255); box-shadow: 0 10px 10px  rgba(59, 1, 174, 0.1);" >
                                        
        
                                        <div class="game-card__media child-width-5-5@l">
                                            
                                            <a href="/static/assets/img/howtouse1.png" target="_blank">
                                            <img src="/static/assets/img/howtouse1.png" style="width: 100%;height: auto; text-align: center;;" alt="Alien Games" />
                                        </a>
                                                              </div>

                                          <div class="game-card__info">
                                              
                                              
                        
                
                                            
        
                                            <div class="game-card__price" style="margin-bottom: 15px;margin-top: 5px;"><span>Adım - 1 : (Tek Seferlik)</span><span class="game-card__genre"> </span></div>
                                              <div class="game-card__price" style="margin-top: 5px;"><span class="game-card__genre">  Python ve VSCode indiriniz. </div>

                                                            
                                    
  
  
                                  </div>
                              </div>
            
                            </div>
                  
                        </div>
                    </div>
                </div>
    
              </li>


              <li data-type="placer" class="uk-grid-margin uk-first-column xx " >
    
                <div class="uk-child-width-5-5@l uk-width-5-5@l ">
                    
                    <div class="js-trending">
                 
                            <div class="swiper-wrapper">
            
            
            
                                <div class="swiper-slide">
                                  <div class="game-card --horizontal">
                                      <div class="game-card__box" style="background-color: rgb(247, 250, 255); box-shadow: 0 10px 10px  rgba(59, 1, 174, 0.1);" >
                                        
        
          
                                          
                                              
                                            <div class="game-card__media child-width-5-5@l">
                                                <a href="/static/assets/img/howtouse2.png" target="_blank">
                                                    <img src="/static/assets/img/howtouse2.png" style="width: 100%;height: auto; text-align: center;;" alt="Alien Games" />
                                                </a>
                                                                 
                                                                  </div>
                                                             
                        
                
                                                              <div class="game-card__info">
        
                                            <div class="game-card__price" style="margin-bottom: 15px;margin-top: 5px;"><span>Adım - 2 : (Tek Seferlik)</span><span class="game-card__genre"> </span></div>
                   
                      <span class="game-card__genre">  windows tuşuna basıp arama butonuna cmd yazınız. python kurulumu sonrasında pip kullanarak bir takım modüller indirmelisiniz..
                        komut istemine, sırasıyla aşağıdaki yazıları yapıştırınız, her bir pip kurulumu tamamlandığında diğerini yapıştırarak kurunuz.
                        <hr style="margin-top: 20px;">
                                                <div class="game-card__price" style="margin-top: 5px;"> pip install binance</div>
                                                <div class="game-card__price" style="margin-top: 5px;"> pip install numpy</div>
                                                <div class="game-card__price" style="margin-top: 5px; margin-bottom: 5px;"> pip install y</div>


                                                            
                                    
                                            </div>
  
                                  </div>
                              </div>
            
                            </div>
                  
                        </div>
                    </div>
                </div>
    
              </li>


              <li data-type="placer" class="uk-grid-margin uk-first-column xx " >
    
                <div class="uk-child-width-5-5@l uk-width-5-5@l ">
                    
                    <div class="js-trending">
                 
                            <div class="swiper-wrapper">
            
            
            
                                <div class="swiper-slide">
                                  <div class="game-card --horizontal">
                                      <div class="game-card__box" style="background-color: rgb(247, 250, 255); box-shadow: 0 10px 10px  rgba(59, 1, 174, 0.1);" >
                                        
        
          
                                          
                                              
                                              
                                            <div class="game-card__media child-width-5-5@l">
                                                <a href="/static/assets/img/howtouse3.png" target="_blank">
                                                    <img src="/static/assets/img/howtouse3.png" style="width: 100%;height: auto; text-align: center;;" alt="Alien Games" />
                                                </a>
                                                                 
                                                                  </div>
                
                                            
                                                                  <div class="game-card__info">
                                                                  <div class="game-card__price" style="margin-bottom: 15px;margin-top: 5px;"><span>Adım - 3 : (Tek Seferlik)</span><span class="game-card__genre"> </span></div>
                                                <div class="game-card__price" style="margin-top: 5px;"><span class="game-card__genre">  Binance üzerinden apikey ve secret key oluşturunuz, bu keyler, api ile binance'a bağlanmanızı ve
                                                    cüzdanınızı yönetmenizi sağlayacaktır. İşlem yapabilmek adına gerekli izinleri vermeyi ve ip'nizi tanımlamayı unutmayınız. İP'nizi internet üzerinden sorgulayarak öğrenebilirsiniz. </div>
 
                                                            
                                    
  
  
                                  </div>
                              </div>
            
                            </div>
                  
                        </div>
                    </div>
                </div>
    
              </li>


              <li data-type="placer" class="uk-grid-margin uk-first-column xx " >
    
                <div class="uk-child-width-5-5@l uk-width-5-5@l ">
                    
                    <div class="js-trending">
                 
                            <div class="swiper-wrapper">
            
            
            
                                <div class="swiper-slide">
                                  <div class="game-card --horizontal">
                                      <div class="game-card__box" style="background-color: rgb(247, 250, 255); box-shadow: 0 10px 10px  rgba(59, 1, 174, 0.1);" >
                                        
        
          
                                         
                                            <div class="game-card__media child-width-5-5@l">
                                                <a href="/static/assets/img/howtouse4.png" target="_blank">
                                                    <img src="/static/assets/img/howtouse4.png" style="width: 100%;height: auto; text-align: center;;" alt="Alien Games" />
                                                </a>
                                                                 
                                                                  </div>
                                              
                                                                  <div class="game-card__info">
                
                                                                  <div class="game-card__price" style="margin-bottom: 15px;margin-top: 5px;"><span>Adım - 4 : (Tek Seferlik)</span><span class="game-card__genre"> </span></div>
        
           <div class="game-card__price" style="margin-top: 5px;"><span class="game-card__genre">  Çift taraflı işlem yapabilmeyi etkinleştirmelisiniz (BUY/SELL BOTH). Size ilk atılan kodu, apikey ve secretkeyi görselde gösterildiği gibi
            ekledikten sonra çift tıklayarak çalıştırınız. Script çalışacak, telefon arayüzünüz değişecek, api üzerinden hesabınızın alım satım yapabilme iznine erişeceksiniz. Kod, görseldekiyle aynıdır. Defaulttur.
            
        </div>


  
                                  </div>
                              </div>
            
                            </div>
                  
                        </div>
                    </div>
                </div>
    
              </li>



  


              <li data-type="placer" class="uk-grid-margin uk-first-column xx " >
    
                <div class="uk-child-width-5-5@l uk-width-5-5@l ">
                    
                    <div class="js-trending">
                 
                            <div class="swiper-wrapper">
            
            
            
                                <div class="swiper-slide">
                                  <div class="game-card --horizontal">
                                      <div class="game-card__box" style="background-color: rgb(247, 250, 255); box-shadow: 0 10px 10px  rgba(59, 1, 174, 0.1);" >
                                        
        
          
                                          
                                              
                                              
                                            <div class="game-card__media child-width-5-5@l">
                                                <a href="/static/assets/img/howtouse5.png" target="_blank">
                                                    <img src="/static/assets/img/howtouse5.png" style="width: 100%;height: auto; text-align: center;;" alt="Alien Games" />
                                                </a>
                                                                 
                                                                  </div>
                        
                                                                  <div class="game-card__info">
                                                                  <div class="game-card__price" style="margin-bottom: 15px;margin-top: 5px;"><span>Adım - 5 : (Haftada Bir Güncellenmeli)</span><span class="game-card__genre"> </span></div>
                                              <div class="game-card__price" style="margin-top: 5px;">
                                                <span class="game-card__genre"> Artık aldığınız kodu VSCode üzerinden açmalı ve botunuza kimliğinizi tanımlamalısınız. APIKEY ve SECRETKEY'inizi görselde gösterildiği gibi yapıştırınız. </div>
       
  
  
                                  </div>
                              </div>
            
                            </div>
                  
                        </div>
                    </div>
                </div>
    
              </li>


              <li data-type="placer" class="uk-grid-margin uk-first-column xx " >
    
                <div class="uk-child-width-5-5@l uk-width-5-5@l ">
                    
                    <div class="js-trending">
                 
                            <div class="swiper-wrapper">
            
            
            
                                <div class="swiper-slide">
                                  <div class="game-card --horizontal">
                                      <div class="game-card__box" style="background-color: rgb(247, 250, 255); box-shadow: 0 10px 10px  rgba(59, 1, 174, 0.1);" >
                                        
        
                                        <div class="game-card__media child-width-5-5@l">
                                            <a href="/static/assets/img/howtouse7.png" target="_blank">
                                                <img src="/static/assets/img/howtouse7.png" style="width: 100%;height: auto; text-align: center;;" alt="Alien Games" />
                                            </a>
                                                             
                                                              </div>
          
                                          <div class="game-card__info">
                                              
                                              
                        
                
                                            
                                           <div class="game-card__price" style="margin-bottom: 15px;margin-top: 5px;"><span>Hesabınız API Kullanımına Hazır, Artık Botu Çalıştırmak İçin :</span><span class="game-card__genre"> </span></div>
                                                <div class="game-card__price" style="margin-top: 5px;"><span class="game-card__genre">VSCode'u açınız, terminal'e görselde gösterildiği gibi ulaşınız ve aşağıdaki yazıyı yazınız. </div>
                                                    <hr>
                                             <div class="game-card__price" style="margin-top: 5px; margin-bottom: 5px;"> python api_name.py</div>

                          
                                                            
                                    
  
  
                                  </div>
                              </div>
            
                            </div>
                  
                        </div>
                    </div>
                </div>
    
              </li>



























































              <li data-type="placer" class="uk-grid-margin uk-first-column xx " >
    

                            
                <div class="uk-child-width-5-5@l uk-width-5-5@l ">
                    
                    <div class="js-trending">
                 
                            <div class="swiper-wrapper">
            
            
            
                                <div class="swiper-slide">
                                  <div class="game-card --horizontal">
                                    <div class="game-card__box" style="background-color: rgb(247, 250, 255); box-shadow: 0 10px 10px  rgba(59, 1, 174, 0.1); margin-top: 0px;margin-bottom: 0px;" >
                                        

          
                                          <div class="game-card__info">
                                              
                                              
                        
                                    
                        
                                            
        
                                              
                                     <a href="/about"> <button style="margin-top: -0px;" class="uk-accordion-title uk-button uk-button-primary uk-width-1-1 creat-list-btn" type="button"  href="/about" >İletişim bilgileri için tıklayınız</button></a>

                                                            
                                    
  
  
                                  </div>
                              </div>
            
                            </div>
                  
                        </div>
                    </div>
                </div>
    
              </li>



              <li data-type="placer" class="uk-grid-margin uk-first-column xx " >
    

                            
                <div class="uk-child-width-5-5@l uk-width-5-5@l ">
                    
                    <div class="js-trending">
                 
                            <div class="swiper-wrapper">
            
            
            
                                <div class="swiper-slide">
                                  <div class="game-card --horizontal">
                                      <div class="game-card__box" style="background-color: rgb(247, 250, 255); box-shadow: 0 10px 10px  rgba(59, 1, 174, 0.1); margin-top: 0px;margin-bottom: 0px;" >
                                        

          
                                          <div class="game-card__info">
                                              
                                              
                        
                                    
                        
                                            
        
                                              
                 <a href="/"> <button style="margin-top: -0px;" class="uk-accordion-title uk-button uk-button-primary uk-width-1-1 creat-list-btn" type="button"  href="/" >Anasayfa İçin Tıklayınız</button></a> 

                                      
                                    
  
  
                                  </div>
                              </div>
            
                            </div>
                  
                        </div>
                    </div>
                </div>
    
              </li>



      </ul>

    
  </div>
</main>

{% endblock bodyx %}

