{% extends "layout.html" %} 



{% block bodyx %} 



<main class="page-main" style="background-image: url(/static/images/bgcode2.png); background-size:100%;">



  <div data-uk-filter="target: .js-filter" style="margin-top: -50px;">




      <ul id="activities" class="js-filter uk-grid-small uk-child-width-1-1 uk-child-width-5-5@xl uk-child-width-2-4@l uk-child-width-3-3@m uk-child-width-1-2@s uk-grid uk-grid-stack" >

        <li data-type="placer" class="uk-grid-margin uk-first-column xx " style="margin-top: 70px;" >
    
            <div class="uk-child-width-5-5@l uk-width-5-5@l ">
                
                <div class="js-trending">
             
                        <div class="swiper-wrapper">
        
        
        
                            <div class="swiper-slide">
                              <div class="game-card --horizontal">
                                  <div class="game-card__box" style="background-color: rgb(247, 250, 255); box-shadow: 0 10px 10px  rgba(59, 1, 174, 0.1);" >
                                    
                                    <div class="game-card__media child-width-5-5@l">
                                        <img src="/static/assets/img/apiforyou5.png" style="height: 370px;width: auto; text-align: center;;" alt="Alien Games" />
                                                         
                                                          </div>
      
                                      <div class="game-card__info">
                                          
                                          
                    
                                              <div class="game-card__price" style="margin-bottom: 15px;margin-top: 5px;"><span></span>
                                              <span class="game-card__genre">Hoşgeldiniz. Bu sekmede:  </span>Api For You<span class="game-card__genre"> nedir, ne gibi hizmetler sunmaktadır'ın açıklaması
                                                bulunmaktadır. İncelemeniz sonrasında hizmet almak isterseniz, diğer sekme üzerinden iletişim sağlayabilirsiniz.  </span>
                                            </div>
                                        
                                            <div class="game-card__price" style="margin-top: 5px;"><span></span>
                                                <span class="game-card__genre"></span>Not:<span class="game-card__genre"> Kodlarımız Binance için yazılmaktadır. Diğer platformlara yönelik API'lerde ücretlendirme 
                                                    farklılaşacaktır. </span>
                                              </div>


                              </div>
                          </div>
        
                        </div>
              
                    </div>
                </div>
            </div>

          </li>


            <li data-type="placer" class="uk-grid-margin uk-first-column xx " >
    
              <div class="uk-child-width-5-5@l uk-width-5-5@l ">
                  
                  <div class="js-trending">
                      <div class="swiper">
                          <div class="swiper-wrapper">
          
          
                              <div class="swiper-slide">
                                  <div class="game-card --horizontal">
                                      <div class="game-card__box" style="background-color: rgb(247, 250, 255); box-shadow: 0 10px 10px  rgba(59, 1, 174, 0.1);" >
                                        
        
                                        <div class="game-card__media child-width-5-5@l" ><a href="/static/assets/img/howto3.png" target="_blank">
                      <img src="/static/assets/img/howto3.png"  alt="Alien Games" /></a>
                                       
                                        </div>
        
          
                                          <div class="game-card__info">
                                              
                                              
                        
                                                  <div class="game-card__price" style="margin-bottom: 5px;margin-top: px;"><span>Api Nedir?</span><span class="game-card__genre"> </span></div>
                        
                                            
        
                                              <div class="game-card__price" ><span class="game-card__genre">Api, telefon ya da bilgisayarda kullandığınız arayüzden farklı olarak,
                                                sunucuya kodlar aracılığıyla bağlanıp işlemler yapmamızı sağlayan ve kodlardan oluşan arayüzdür.</span></div>
        
                                             
                                          </div>
  
                                          <div class="game-card__price" style="margin-top: 5px;" >Not:<span class="game-card__genre">  Binance API, binance'ın kullanmamız için bize sunduğu bir yöntemdir. API, ban yemenize neden olmaz.</span>
                                           
                                        </div>

  
                                      </div>
  
  
                                  </div>
                              </div>
          
          
                              <div class="swiper-slide">
                                <div class="game-card --horizontal">
                                    <div class="game-card__box" style="background-color: rgb(247, 250, 255); box-shadow: 0 10px 10px  rgba(59, 1, 174, 0.1);" >
                                      
      
                                      <div class="game-card__media child-width-5-5@l"><a href="/static/assets/img/howto2.png" target="_blank">
                    <img src="/static/assets/img/howto2.png" style="" alt="Alien Games" /></a>
                                     
                                      </div>
      
        
                                        <div class="game-card__info">
                                            
                                            
                      
                                                <div class="game-card__price" style="margin-bottom: 5px;margin-top: 5px;"><span>Binance API Nasıl Çalışır?</span><span class="game-card__genre"> </span></div>
                      
                                          
      
                                            <div class="game-card__price" ><span class="game-card__genre"> Sunucuya bağlanabilmek için binance üzerinden
                                                apikey ve apisecretkey üretirsiniz. gerekli izinleri yine binance üzerinden sağlarsınız.
                                                ürettikten sonra varolan scriptinizle sunucuya, bilgisayarınız üzerinden istekler atarsınız. attığınız isteklerle de işlemleriniz gerçekleşir.
                                            </span></div>
                                            

                                        </div>


                                    </div>


                                </div>
                            </div>
          
                          </div>
                          <div class="swiper-pagination"></div>
                      </div>
                  </div>
              </div>
  
            </li>



            <li data-type="placer" class="uk-grid-margin uk-first-column xx " >
    
                <div class="uk-child-width-5-5@l uk-width-5-5@l ">
                    
                    <div class="js-trending">
                        <div class="swiper">
                            <div class="swiper-wrapper">
            
            
                                <div class="swiper-slide">
                                    <div class="game-card --horizontal">
                                        <div class="game-card__box" style="background-color: rgb(247, 250, 255); box-shadow: 0 10px 10px  rgba(59, 1, 174, 0.1);" >
                                          
          
                                          <div class="game-card__media child-width-5-5@l"><a href="/static/images/howto4.png" target="_blank">
                        <img src="/static/images/howto4.png" style="" alt="Alien Games" /></a>
                                         
                                          </div>
          
            
                                            <div class="game-card__info">
                                                
                                                
                          
                                                    <div class="game-card__price" style="margin-bottom:20px;margin-top: 25px;"><span>Neden Binance Api Kullanmalısınız?</span><span class="game-card__genre"> </span></div>
                          
                                              
          
                                                <div class="game-card__price" ><span class="game-card__genre">İşlemleri elden yapmanız yerine, sistem üzerinden anlık taramalarla, otomatik olarak yapmanızı sağlar.
                                             Stratejinize sadık kalmanızı, duygusal karar vermemenize yardımcı olur. Uyurken işlem yapabilmenizi sağlar. Anlık değer hesaplayabilir, o an hesaplayamayacağınız indikatörleri
                                             anlık verileri çekerek hesaplar. Ayrıca, izinizi belli ettirmezsiniz. Piyasa yapıcılar ağırlıklı olarak psikolojinizden ve board'ı okumanızdan fikir alarak işlem yapar. 
                                                </span></div>
          
           
                                            </div>
    
    
                                        </div>
    
    
                                    </div>
                                </div>
            
            
                                <div class="swiper-slide">
                                  <div class="game-card --horizontal">
                                      <div class="game-card__box" style="background-color: rgb(247, 250, 255); box-shadow: 0 10px 10px  rgba(59, 1, 174, 0.1);" >
                                        
        
                                        <div class="game-card__media child-width-5-5@l">
                                            <a href="/static/images/codecode4.png" target="_blank">
                      <img src="/static/images/codecode4.png" style="" alt="Alien Games" /></a>
                                       
                                        </div>
        
          
                                          <div class="game-card__info">
                                              
                                              
                        
                                                  <div class="game-card__price" style="margin-bottom: 5px;margin-top: 5px;"><span>Api For You Ne Sunar?</span><span class="game-card__genre"> </span></div>
                        
                                            
        
                                              <div class="game-card__price"><span class="game-card__genre">Aklınızdaki stratejiyi manuel olarak yapmak yerine api olarak size sunar.
                                                yani stratejinizi kod olarak yazar. böylece al-sat'larınızı bottan otomatik yapabilirsiniz. mail üzerinden de bilgilendirilirsiniz. 
                                                ancak şunu bilmelisiniz ki biz size sadece kodları ve açıklamalarını atacağız. kodunuzu bağlamak ve kullanmak bizim sorumluluğumuzda 
                                                değildir.
                                                
                                              </span></div>
                                              <div style="margin-top: 15px;" class="game-card__price"><span class="game-card__genre"> Not: kodlar sürekli güncelleme alırlar bu nedenle problemlerle karşılaşmanız olasıdır.
                                                sorumluluk kabul etmemekle beraber. muhtemel kod kullanım süresinin 1-1.5 ay olduğunu peşinen söyleyelim.
                                                
                                              </span></div>
                                             
                                          </div>
  
  
                                      </div>
  
  
                                  </div>
                              </div>
            
                            </div>
                            <div class="swiper-pagination"></div>
                        </div>
                    </div>
                </div>
    
              </li>


              
            <li data-type="placer" class="uk-grid-margin uk-first-column xx " >
    
                <div class="uk-child-width-5-5@l uk-width-5-5@l ">
                    
                    <div class="js-trending">
                        <div class="swiper">
                            <div class="swiper-wrapper">
            
            
                                <div class="swiper-slide">
                                    <div class="game-card --horizontal">
                                        <div class="game-card__box" style="background-color: rgb(247, 250, 255); box-shadow: 0 10px 10px  rgba(59, 1, 174, 0.1);" >
                                          
          
                                          <div class="game-card__media child-width-5-5@l">
                                            <a href="/static/assets/img/codecode2.png" target="_blank">
                        <img src="/static/assets/img/codecode2.png" style="" alt="Alien Games" /> </a>
                                         
                                          </div>
          
            
                                            <div class="game-card__info">
                                                
                                                
                          
                                                    <div class="game-card__price" style="margin-bottom: 5px;margin-top: 5px;"><span>API ile Neler Yapabilirsiniz?</span><span class="game-card__genre"> </span></div>
                          
                                              
          
                                                <div class="game-card__price" style="margin-;margin-top: 5px;">1-<span class="game-card__genre"> Anlık işlemler yakalayabilirsiniz
                                                </span></div>

                                                <div class="game-card__price" style=";margin-top: 5px;">2- <span class="game-card__genre">Uyurken işlem yapabilirsiniz
                                                </span></div>
        
                                                <div class="game-card__price" style=";margin-top: 5px;">3-<span class="game-card__genre"> Ekrana bakmaya gerek kalmaksızın stratejinizi işletebilirsiniz
                                                </span></div>

                                                <div class="game-card__price" style=";margin-top: 5px;">4-<span class="game-card__genre"> Piyasa yapıcılara verilerinizi izlettirmeden işlem yapabilirsiniz
                                                </span></div>

                                                <div class="game-card__price" style="margin-top: 5px;">5-<span class="game-card__genre"> Duygusal işlemlerden kaçınabilirsiniz, bot sadece stratejinize uygun çalışır
                                                </span></div>

                                            </div>
    
    
                                        </div>
    
    
                                    </div>
                                </div>
            
            
                                <div class="swiper-slide">
                                  <div class="game-card --horizontal">
                                      <div class="game-card__box" style="background-color: rgb(247, 250, 255); box-shadow: 0 10px 10px  rgba(59, 1, 174, 0.1);" >
                                        
        
                                        <div class="game-card__media child-width-5-5@l"> <a href="/static/assets/img/codecode3.png" target="_blank">
                      <img src="/static/assets/img/codecode3.png" style="" alt="Alien Games" /></a>
                                       
                                        </div>
        
          
                                          <div class="game-card__info">
                                              
                                              
                        
                                                  <div class="game-card__price" style="margin-bottom: 5px;margin-top: 5px;"><span>Api ile Ne Gibi Stratejiler Kullanabilirsiniz?</span><span class="game-card__genre"> </span></div>
                        
                                            
        
                                              <div class="game-card__price">a-<span class="game-card__genre" style="margin-top: 10px;">Bollinger bantları </span></div>
      
                                              <div class="game-card__price">b-<span class="game-card__genre" style="margin-top: 10px;">RSI </span></div>

                                              <div class="game-card__price">c-<span class="game-card__genre" style="margin-top: 10px;">MA</span></div>

                                              <div class="game-card__price">d-<span class="game-card__genre" style="margin-top: 10px;">FVG ve daha fazlası gibi pek çok indikatör.</span></div>

                                              <div class="game-card__price"><span class="game-card__genre" style="margin-top: 10px;">Siz stratejinizi söyleyin, biz koda dönüştürelim. </span></div>

                                              <div class="game-card__price" style="margin-top: 20px;"> Başlangıç Fiyatımız 100$'dır. <span class="game-card__genre">Kod karmaşıklığı arttıkça fiyat da artar.
                                                Tahmini teslim süremiz 3 gün- 1 hafta aralığındadır.</span>
                                            </div>

                                          </div>
  
  
                                      </div>
  
  
                                  </div>
                              </div>
            
                            </div>
                            <div class="swiper-pagination"></div>
                        </div>
                    </div>
                </div>
    
              </li>


     
              <li data-type="placer" class="uk-grid-margin uk-first-column xx " >
    

                            
                <div class="uk-child-width-5-5@l uk-width-5-5@l ">
                    
                    <div class="js-trending">
                 
                            <div class="swiper-wrapper">
            
            
            
                                <div class="swiper-slide">
                                  <div class="game-card --horizontal">
                                      <div class="game-card__box" style="background-color: rgb(247, 250, 255); box-shadow: 0 10px 10px  rgba(59, 1, 174, 0.1);" >
                                        

          
                                          <div class="game-card__info">
                                              
                                              
                        
                                    
                        
                                            
        
                                              
                                              <div class="game-card__price" style="margin-top: 5px;">ÖNEMLİ : <span class="game-card__genre"> Ücretler, blockchain üzerinden stabil coin (BUSD,USDT,USDC) olarak alınmaktadır. hizmet almak istemeniz durumunda, iletişim bilgileri aşağıdaki linktedir. </div>
                                                            
                                    
  
  
                                  </div>
                              </div>
            
                            </div>
                  
                        </div>
                    </div>
                </div>
    
              </li>   
                 
              <li data-type="placer" class="uk-grid-margin uk-first-column xx " >
    

                            
                <div class="uk-child-width-5-5@l uk-width-5-5@l ">
                    
                    <div class="js-trending">
                 
                            <div class="swiper-wrapper">
            
            
            
                                <div class="swiper-slide">
                                  <div class="game-card --horizontal">
                                      <div class="game-card__box" style="background-color: rgb(247, 250, 255); box-shadow: 0 10px 10px  rgba(59, 1, 174, 0.1); margin-top: 0px;margin-bottom: 0px;" >
                                        

          
                                          <div class="game-card__info">
                                              
                                              
                        
                                    
                        
                                            
        
                                              
                 <a href="/howtouse"> <button style="margin-top: -0px;" class="uk-accordion-title uk-button uk-button-primary uk-width-1-1 creat-list-btn" type="button"  href="/howtouse" >Kodu Satın Aldınız, Nasıl Kullancaksınız?</button></a> 

                                      
                                    
  
  
                                  </div>
                              </div>
            
                            </div>
                  
                        </div>
                    </div>
                </div>
    
              </li>


              <li data-type="placer" class="uk-grid-margin uk-first-column xx " >
    

                            
                <div class="uk-child-width-5-5@l uk-width-5-5@l ">
                    
                    <div class="js-trending">
                 
                            <div class="swiper-wrapper">
            
            
            
                                <div class="swiper-slide">
                                  <div class="game-card --horizontal">
                                    <div class="game-card__box" style="background-color: rgb(247, 250, 255); box-shadow: 0 10px 10px  rgba(59, 1, 174, 0.1); margin-top: 0px;margin-bottom: 0px;" >
                                        

          
                                          <div class="game-card__info">
                                              
                                              
                        
                                    
                        
                                            
        
                                              
                                     <a href="/about"> <button style="margin-top: -0px;" class="uk-accordion-title uk-button uk-button-primary uk-width-1-1 creat-list-btn" type="button"  href="/about" >İletişim bilgileri için tıklayınız</button></a>

                                                            
                                    
  
  
                                  </div>
                              </div>
            
                            </div>
                  
                        </div>
                    </div>
                </div>
    
              </li>

              


      </ul>

    
  </div>
</main>

{% endblock bodyx %}

